body {
            background: #fff;
            color: #505050;
            font: 14px 'Segoe UI', tahoma, arial, helvetica, sans-serif;
            margin: 20px;
            padding: 0;
        }

        .header {
            background: #cccccc;
            padding: 0;
        }
				.header:hover {
				background-color:#999999;
				}
				
        h1 {
            font-size: 48px;
            font-weight: normal;
            margin: 0;
            padding: 0 30px;
            line-height: 150px;
						text-align:center;
        }

        p {
            font-size: 20px;
            color: #fff;
            background: #969696;
            padding: 0 30px;
            line-height: 50px;
        }
				.aboutme {
				background-color:#ffccff;
				float:left;
				width:60%;
				}
				.picture {
				background-color:#ffffcc;
				float:left;
				height:100px;
				width:40%;
				}
        .main {
						clear:both;
            padding: 5px 30px;
        }

        .section {
            width: 21.7%;
            float: left;
            margin: 0 0 0 4%;
        }

            .section h2 {
                font-size: 13px;
                text-transform: uppercase;
                margin: 0;
                border-bottom: 1px solid silver;
                padding-bottom: 12px;
                margin-bottom: 8px;
            }

            .section.first {
                margin-left: 0;
            }

                .section.first h2 {
                    font-size: 24px;
                    text-transform: none;
                    margin-bottom: 25px;
                    border: none;
                }

                .section.first li {
                    border-top: 1px solid silver;
                    padding: 8px 0;
                }

            .section.last {
                margin-right: 0;
            }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            line-height: 20px;
        }

        li {
            padding: 4px 0;
        }

				button{
					margin: 0 auto;
				}
				
        a {
            color: #267cb2;
            text-decoration: none;
						margin: 0 auto;
        }

            a:hover {
                text-decoration: underline;
            }
						
						.videoA{
							margin: 0 auto;
							float: bottom;
						}
						
						iframe{
							margin: 0 auto;
						}